<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupos WhatsApp</title>

    <!--Tailwind-->
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <!--Sweet Alert-->
    <!-- Script de Alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!-- Script de Socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.1/css/dataTables.dataTables.min.css">
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- //emojis -->
    <script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>
    <link rel="stylesheet" href="/css/spinner.css">
    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/datatable.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

</head>

<body x-data>
    <div id="ui-controllers" x-data="{ isQrOpen : false }">

        <header class="w-full py-1 bg-black text-white flex flex-col justify-center items-center  ">
            <div class="w-[90vw]  px-4 bg-black rounded-2xl flex justify-between items-center">
                <div class="flex flex-col ">
                    <h2 class="text-2xl font-semibold ">WhatsAppGroups</h2>

                </div>
                <nav>
                    <ul class="flex gap-4">
                        <li><a href="/">Inicio</a></li>
                        <li x-on:click="isQrOpen = true" class="cursor-pointer"><i class="fa fa-qrcode"
                                aria-hidden="true"></i></li>
                        <li><a href="/groups">Enviados</a></li>
                        <li> <button x-on:click.prevent="$store.services.cerrar()"
                                class="text-center cursor-pointer">Cerrar
                                Session</button> </li>

                        <h2 id="status"></h2>
                    </ul>
                </nav>
            </div>
        </header>

        <div x-show="isQrOpen" id="qr-container"
            class="w-full h-full flex justify-center items-center fixed top-0 left-0 z-50 bg-black/30">


            <div class="w-[400px] h-[400px] bg-white rounded-lg p-4 flex justify-center items-center flex-col gap-4">
                <div class="w-[250px] h-[250px] rounded-lg overflow-hidden">
                    <img id="qrImage" src="" alt="qr" class="w-full h-full object-contain">
                </div>
                <span x-on:click="isQrOpen = false"
                    class="px-2 py-2 bg-red-700 text-white font-semibold cursor-pointer rounded-md text-center">Entendido</span>
            </div>

        </div>

        <div x-show="$store.services.modalSendMsj"
            class="w-full h-full flex justify-center items-center fixed top-0 left-0 z-50 bg-black/30">


            <div class="w-[550px] h-[400px] bg-white rounded-lg p-4 flex justify-center items-center flex-col gap-4">
                <div class="">
                    <h2>¿Estas Seguro de Enviar este mensaje?</h2>
                </div>
                <div class="flex gap-4">
                    <span x-on:click="$store.services.sendMessage"
                        class="px-2 py-2 bg-red-700 text-white font-semibold cursor-pointer rounded-md text-center">Enviar
                    </span>
                    <span x-on:click="$store.services.modalSendMsj = false"
                        class="px-2 py-2 bg-red-700 text-white font-semibold cursor-pointer rounded-md text-center">Cancelar
                    </span>


                </div>

            </div>

        </div>

        <div x-show="$store.services.modalSucesfulMsj" id="modalStatusMessage"
            class="w-full h-full flex justify-center items-center fixed top-0 left-0 z-50 bg-black/30">


            <div class="w-[550px] h-[400px] bg-white rounded-lg p-4 flex justify-center items-center flex-col gap-4">
                <div class="">
                    <h2>mensaje Enviado con éxito</h2>
                </div>
                <div class="flex gap-4">

                    <span x-on:click="$store.services.modalSucesfulMsj = false"
                        class="px-2 py-2 bg-red-700 text-white font-semibold cursor-pointer rounded-md text-center">Cerrar
                    </span>


                </div>

            </div>

        </div>



        <!-- Content -->
        <div class="w-full flex items-center flex-col bg-slate-100 pb-8 ">

            <div class="bg-white rounded-lg px-8 py-8 w-[90vw] my-5 flex justify-between">
                <h2 class="text-2xl font-bold">¡Bienvenido!</h2>
                <div>
                    <div class="flex gap-4 items-center">
                        <div
                            class="px-4 py-2 bg-blue-400 text-white font-semibold cursor-pointer rounded-lg flex items-center justify-center">
                            <span>Scanear QR</span>
                        </div>
                        <div
                            class="overflow-hidden rounded-full w-10 h-10 bg-white flex justify-center items-center text-center">
                            <svg stroke="black" fill="black" stroke-width="0" viewBox="0 0 512 512" height="35"
                                width="35" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M399 384.2C376.9 345.8 335.4 320 288 320l-64 0c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z">
                                </path>
                            </svg>

                        </div>



                        <div class="leading-0">
                            <p class="font-bold text-lg">Administrador</p>
                            <span class="text-gray-500 text-sm">cuenta y ajustes</span>
                        </div>

                    </div>

                </div>
            </div>

            <div class="flex justify-between items-center w-[90vw] gap-6">


                <div class="rounded-2xl w-[45%] bg-white h-full">
                    <ul>

                        <li>Local</li>
                        <li>Local</li>
                        <li>Local</li>
                    </ul>
                </div>
                <div class="w-[55%]  min-h-[300px] rounded-2xl bg-white p-4">
                    <div id="" class="w-[98%] ">
                        <div class="w-full  h-[300px] overflow-y-scroll pr-4">
                            <p id="isLoadingGroups" class="h-full"></p>
                            <table id="groupTable">
                                <thead>
                                    <tr>
                                        <th class="hidden">Info Group</th>
                                        <th class="hidden">Opciones</th>
                                    </tr>
                                </thead>
                                <tbody class="min-w-[50%] text-center"></tbody>
                                <!-- Aquí se insertarán las filas dinámicamente -->
                            </table>
                        </div>

                        <form x-on:submit.prevent="$store.services.modalSendMsj = true" class="relative">

                            <div x-show="$store.services.isPicker" id="emoji-picker" class="absolute top-[-330%]"></div>

                            <div>
                                <!-- Textarea for message -->
                                <textarea id="input-message" x-model="$store.services.message"
                                    placeholder="Escribe un Mensaje"
                                    class="h-20 w-full outline-0 py-2 px-2 resize-none"></textarea>
                                <div class="flex justify-between">

                                    <div id="controllers-action" class="flex gap-2 pb-2 ">
                                        <label for="files"
                                            class="cursor-pointer bg-gray-200 w-10 h-10 rounded-full flex justify-center items-center">
                                            <i class="fa fa-picture-o text-gray-600" aria-hidden="true"></i>
                                        </label>
                                        <p x-on:click="$store.services.isPicker = !$store.services.isPicker"
                                            class="cursor-pointer bg-gray-200 w-10 h-10 rounded-full flex justify-center items-center">
                                            <i class="fa fa-smile-o" aria-hidden="true"></i>
                                        </p>
                                        <input type="file" name="files" id="files" multiple accept=".jpg,.png"
                                            x-on:change="$store.services.handleFileUpload" class="hidden">

                                    </div>
                                    <div id="button-send-programing"
                                        class="h-10 w-[140px] bg-slate-100 flex overflow-hidden rounded-full text-white text-sm">
                                        <button type="submit"
                                            class="h-full w-[60%] bg-slate-700 hover:bg-slate-800 cursor-pointer font-semibold">Enviar</button>
                                        <div
                                            class="h-full w-[40%] bg-slate-400 flex justify-center items-center hover:bg-slate-800 cursor-pointer">

                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                        </div>

                                    </div>

                                </div>

                                <p x-data x-show="$store.services.ifShowImages">xdddd</p>
                                <!-- Miniatures Preview -->
                                <div class="mt-2 flex gap-4" x-show="$store.services.files.length > 0">
                                    <template x-for="(file, index) in $store.services.files" :key="index">
                                        <div class="w-16 relative group cursor-pointer">
                                            <img :src="URL.createObjectURL(file)" alt=""
                                                class="w-16 h-16 object-cover rounded-md ">
                                            <button type="button" x-on:click="$store.services.removeFile(index)"
                                                class="absolute top-0 left-0 w-16 h-16 bg-black/70 text-white p-1 rounded-md text-xs cursor-pointer opacity-0 group-hover:opacity-100 font-semibold ">X</button>
                                        </div>
                                    </template>
                                </div>
                            </div>



                        </form>
                    </div>

                </div>
            </div>
        </div>
        <footer class="bg-slate-200 text-center">
            <h3>rossdev</h3>
        </footer>

        <script src="https://cdn.datatables.net/2.2.1/js/dataTables.min.js"></script>
    </div>

</body>

</html>