<%- include('../header.ejs') %>

    <body x-data class="text-gray-800">
        <div id="ui-controllers"
            x-data="{ isQrOpen : false,  isUserMenu : false, isPlugModal : false, showTooltipBelt: false, showTooltipUser : false}">
            <header
                class="w-full h-20 bg-white flex flex-col justify-center items-center text-gray-800 shadow-xl border-[2px] border-solid border-gray-200">
                <div class="w-[90vw]  flex justify-between items-center">
                    <div class="flex gap-1 items-center">

                        <div class="w-6 h-6 rounded-full flex justify-center items-center bg-violet-600">
                            <i class="fa fa-bolt text-white" aria-hidden="true"></i>
                        </div>
                        <h2 class="text-2xl font-bold pt-1 ">Wgroups</h2>

                    </div>
                    <div>
                        <nav class="flex items-center gap-4">
                            <ul class="flex items-center gap-4 text-lg">
                                <li class="cursor-pointer relative inline-block"
                                    @click="showTooltipBelt = !showTooltipBelt">
                                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                                    <div x-show="showTooltipBelt" x-transition
                                        class="absolute top-[110%] right-[-60px] bg-gray-800 text-white p-2 rounded shadow-lg text-sm z-10">
                                        Próximamente
                                    </div>
                                </li>
                                <li x-on:click="isQrOpen = true" class="cursor-pointer ">
                                    <i class="fa fa-qrcode" aria-hidden="true"></i>
                                </li>
                                <li> <span x-on:click="isPlugModal = true;" class="text-center cursor-pointer">
                                        <i class="fa fa-plug" aria-hidden="true"></i>
                                    </span> </li>
                            </ul>

                            <div x-on:click="isUserMenu = !isUserMenu"
                                class="relative flex items-center gap-2 h-full h-full cursor-pointer hover:bg-gray-100 px-4 py-2 rounded-2xl">

                                <div id="user-icon"
                                    class="relative rounded-full w-8 h-8  flex justify-center items-center text-center">
                                    <svg stroke="black" fill="black" stroke-width="0" viewBox="0 0 512 512" height="35"
                                        width="35" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M399 384.2C376.9 345.8 335.4 320 288 320l-64 0c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z">
                                        </path>
                                    </svg>
                                    <div x-bind:class="{ 
                                    'bg-green-400': $store.services.status == 'Conectado', 
                                    'bg-gray-300': $store.services.status == 'Desconectado' 
                                }" class="w-3 h-3 rounded-full  absolute right-[-2px] bottom-[1px] z-10">
                                    </div>
                                </div>
                                <div id="user-info" class=" flex gap-1 items-center h-full ">
                                    <div class="leading-[9px] flex flex-col pt-2">
                                        <span class="">Admin</span>
                                        <span x-text="$store.services.status" id="status" x-bind:class="{ 
                                        'text-sm': $store.services.status == 'Conectado', 
                                        'text-xs': $store.services.status == 'Desconectado' 
                                    }" class="w-[90px]"></span>
                                    </div>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </div>

                                <div x-on:click.stop x-show="isUserMenu" id="user-menu"
                                    class="absolute top-[100%] right-0 px-2  py-6 bg-white rounded-2xl w-[200px] z-20">
                                    <ul>
                                        <li @click="showTooltipUser = !showTooltipUser"
                                            class="py-2 px-4 rounded-2xl cursor-pointer hover:bg-[#FAFAFA] flex items-center gap-2">
                                            <i class="fa fa-user-o" aria-hidden="true"></i>
                                            <span>Editar Cuenta</span>

                                            <div x-show="showTooltipUser" x-transition
                                                class="absolute top-[30px] left-[-130px] bg-gray-800 text-white p-2 rounded shadow-lg text-sm">
                                                Próximamente
                                            </div>

                                        </li>
                                        <li
                                            class="py-2 px-4 rounded-2xl cursor-pointer hover:bg-[#FAFAFA] flex items-center gap-2">
                                            <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24"
                                                height="20px" width="20px" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M8.51428 20H4.51428C3.40971 20 2.51428 19.1046 2.51428 18V6C2.51428 4.89543 3.40971 4 4.51428 4H8.51428V6H4.51428V18H8.51428V20Z"
                                                    fill="currentColor"></path>
                                                <path
                                                    d="M13.8418 17.385L15.262 15.9768L11.3428 12.0242L20.4857 12.0242C21.038 12.0242 21.4857 11.5765 21.4857 11.0242C21.4857 10.4719 21.038 10.0242 20.4857 10.0242L11.3236 10.0242L15.304 6.0774L13.8958 4.6572L7.5049 10.9941L13.8418 17.385Z"
                                                    fill="currentColor"></path>
                                            </svg>
                                            <span x-on:click="$store.services.cerrarSessionUsuario">Cerrar
                                                Sessión</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </nav>
                    </div>
                </div>
            </header>


            <div x-show="isPlugModal" id="modal-plug"
                class="w-full h-full flex justify-center items-center fixed top-0 left-0 z-50 bg-black/30  z-50">

                <div
                    class="w-[500px] h-[400px] bg-white rounded-2xl p-4 flex justify-center items-center flex-col gap-4">

                    <svg stroke="#99a1af" fill="#99a1af" stroke-width="0" viewBox="0 0 576 512" height="150px"
                        width="150px" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M96 0C78.3 0 64 14.3 64 32l0 96 64 0 0-96c0-17.7-14.3-32-32-32zM288 0c-17.7 0-32 14.3-32 32l0 96 64 0 0-96c0-17.7-14.3-32-32-32zM32 160c-17.7 0-32 14.3-32 32s14.3 32 32 32l0 32c0 77.4 55 142 128 156.8l0 67.2c0 17.7 14.3 32 32 32s32-14.3 32-32l0-67.2c12.3-2.5 24.1-6.4 35.1-11.5c-2.1-10.8-3.1-21.9-3.1-33.3c0-80.3 53.8-148 127.3-169.2c.5-2.2 .7-4.5 .7-6.8c0-17.7-14.3-32-32-32L32 160zM432 512a144 144 0 1 0 0-288 144 144 0 1 0 0 288zm59.3-180.7L454.6 368l36.7 36.7c6.2 6.2 6.2 16.4 0 22.6s-16.4 6.2-22.6 0L432 390.6l-36.7 36.7c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6L409.4 368l-36.7-36.7c-6.2-6.2-6.2-16.4 0-22.6s16.4-6.2 22.6 0L432 345.4l36.7-36.7c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z">
                        </path>
                    </svg>
                    <h2 class="text-xl font-semibold text-center mb-4">Con esta acción desvincularás los dispositivo
                        previamente vinculado, ¿deseas continuar?
                    </h2>
                    <div class="flex gap-2">
                        <p x-on:click="isPlugModal = false"
                            class="w-full cursor-pointer mt-6 bg-violet-500 text-white py-2 px-4 rounded-full hover:bg-violet-700 transition">
                            Cerrar
                        </p>
                        <p x-on:click="$store.services.cerrar()"
                            class="w-full cursor-pointer mt-6 bg-gray-400  text-white py-2 px-4 rounded-full hover:bg-violet-700 transition">
                            Desvincular
                        </p>
                    </div>
                </div>




            </div>




            <!--Modal Programar Whatsapps-->
            <div x-show="$store.services.isSendProgramated" id="send-programated"
                class="w-full h-full flex justify-center items-center fixed top-0 left-0 z-50 bg-black/30  z-50">
                <div
                    class="w-[500px] h-[400px] bg-white rounded-2xl p-4 flex justify-center items-center flex-col gap-4">
                    <h2 class="text-xl font-semibold text-center mb-4">Programar Publicación</h2>
                    <form x-on:submit.prevent="$store.services.handleMessageProgramated">
                        <label class="block text-sm font-medium text-gray-700">Fecha</label>
                        <input x-model="$store.services.date" type="date"
                            class="w-full mt-1 p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-violet-500"
                            required>

                        <label class="block text-sm font-medium text-gray-700 mt-4">Hora</label>
                        <input x-model="$store.services.time" type="time"
                            class="w-full mt-1 p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-violet-500"
                            required>
                        <div class="flex gap-2">
                            <p x-on:click="$store.services.isSendProgramated = false"
                                class="w-full cursor-pointer mt-6 bg-violet-500 text-white py-2 px-4 rounded-full hover:bg-violet-700 transition">
                                Cancelar
                            </p>
                            <button type="submit"
                                class="w-full cursor-pointer mt-6 bg-gray-400  text-white py-2 px-4 rounded-full hover:bg-violet-700 transition">
                                Programar
                            </button>
                        </div>

                    </form>
                </div>
            </div>

            <!--Modal QR-->
            <div x-show="isQrOpen" id="qr-container"
                class=" z-50 w-full h-full flex justify-center items-center fixed top-0 left-0 z-50 bg-black/30">
                <div
                    class="w-[400px] h-[400px] bg-white rounded-2xl p-4 flex justify-center items-center flex-col gap-4">
                    <div class="w-[250px] h-[250px] rounded-lg overflow-hidden">
                        <img id="qrImage" src="" alt="qr" class="w-full h-full object-contain">
                    </div>
                    <span x-on:click="isQrOpen = false"
                        class="px-6 py-2 bg-violet-400 hover:bg-violet-800 text-white font-semibold cursor-pointer rounded-full text-center">Cerrar
                    </span>
                </div>
            </div>

            <!--Modal Send MSJ-->
            <div x-show="$store.services.modalSendMsj"
                class=" z-50 w-full h-full flex justify-center items-center fixed top-0 left-0 z-50 bg-black/30">


                <div
                    class="w-[550px] h-[400px] bg-white rounded-2xl p-4 flex justify-center items-center flex-col gap-4">
                    <div class="flex flex-col items-center">
                        <svg class="pb-2" stroke="gray" fill="none" stroke-width="0" viewBox="0 0 24 24" height="180px"
                            width="180px" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12 6C12.5523 6 13 6.44772 13 7V13C13 13.5523 12.5523 14 12 14C11.4477 14 11 13.5523 11 13V7C11 6.44772 11.4477 6 12 6Z"
                                fill="#99a1af"></path>
                            <path
                                d="M12 16C11.4477 16 11 16.4477 11 17C11 17.5523 11.4477 18 12 18C12.5523 18 13 17.5523 13 17C13 16.4477 12.5523 16 12 16Z"
                                fill="#99a1af"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2ZM4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12Z"
                                fill="#99a1af"></path>
                        </svg>
                        <h2 class="text-gray-700 text-lg pb-2">¿Estas Seguro de Enviar este mensaje?</h2>
                    </div>
                    <div class="flex gap-4">

                        <span x-on:click="$store.services.modalSendMsj = false"
                            class="px-4 py-2 bg-violet-400  hover:bg-violet-700 text-white font-semibold cursor-pointer rounded-full text-center">Cancelar
                        </span>
                        <p x-on:click="$store.services.sendMessage"
                            class="px-4 py-2 bg-gray-400 hover:bg-violet-700 text-white font-semibold cursor-pointer rounded-full flex">
                            <span class="flex gap-2 items-center"><svg stroke="currentColor" fill="currentColor"
                                    stroke-width="0" viewBox="0 0 16 16" height="15px" width="15px"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z">
                                    </path>
                                </svg>
                                Enviar</span>

                        </p>

                    </div>

                </div>

            </div>

            <!--Modal SUCESSFUL MSJ-->
            <div x-show="$store.services.modalSucesfulMsj" id="modalStatusMessage"
                class=" z-50 w-full h-full flex justify-center items-center fixed top-0 left-0 z-50 bg-black/30">

                <div
                    class="w-[550px] h-[400px] bg-white rounded-2xl p-4 flex justify-center items-center flex-col gap-4">
                    <div class="flex flex-col gap-6 items-center">
                        <svg stroke="#99a1af" fill="#99a1af" stroke-width="0" viewBox="0 0 512 512" height="170px"
                            width="170px" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M498.1 5.6c10.1 7 15.4 19.1 13.5 31.2l-64 416c-1.5 9.7-7.4 18.2-16 23s-18.9 5.4-28 1.6L284 427.7l-68.5 74.1c-8.9 9.7-22.9 12.9-35.2 8.1S160 493.2 160 480l0-83.6c0-4 1.5-7.8 4.2-10.8L331.8 202.8c5.8-6.3 5.6-16-.4-22s-15.7-6.4-22-.7L106 360.8 17.7 316.6C7.1 311.3 .3 300.7 0 288.9s5.9-22.8 16.1-28.7l448-256c10.7-6.1 23.9-5.5 34 1.4z">
                            </path>
                        </svg>
                        <h2 class="text-gray-700 text-lg">¡Mensaje Enviado con éxito!<span class="text-2xl">📨</span>
                        </h2>
                    </div>
                    <div class="flex gap-4">

                        <span x-on:click="$store.services.modalSucesfulMsj = false"
                            class="px-6 py-2 bg-violet-400 text-white font-semibold hover:bg-violet-700 cursor-pointer rounded-full text-center">Cerrar
                        </span>


                    </div>

                </div>

            </div>


            <!--Modal SUCESSFUL MSJ PROGRAMATED-->
            <div x-show="$store.services.modalSucesfulMsjProgramated" id="modalStatusMessage"
                class=" z-50 w-full h-full flex justify-center items-center fixed top-0 left-0 z-50 bg-black/30">

                <div
                    class="w-[550px] h-[400px] bg-white rounded-2xl p-4 flex justify-center items-center flex-col gap-4">
                    <div class="flex flex-col gap-6 items-center">

                        <h2 class="text-gray-700 text-lg">¡Mensaje Programado con éxito!<span class="text-2xl">📨</span>
                        </h2>
                    </div>
                    <div class="flex gap-4">

                        <span x-on:click="$store.services.modalSucesfulMsjProgramated = false"
                            class="px-6 py-2 bg-violet-400 text-white font-semibold cursor-pointer rounded-full text-center">Cerrar
                        </span>


                    </div>

                </div>

            </div>




            <!-- Content -->

            <div id="body-content" class="w-full flex items-center flex-col bg-[#FAFAFA]  relative">
                <div id="body-bg" class="h-[400px]"></div>
                <!-- Header Content -->
                <div class="w-full flex items-center flex-col pb-16 z-10">

                    <div class="rounded-lg px-2 py-8 w-[85vw] flex">
                        <div class="leading-0 flex flex-col">
                            <h2 class=" text-3xl font-semibold text-gray-800">Bienvenido!</h2>
                            <span class="text-sm text-gray-600">Dashboard • Chat</span>
                        </div>
                    </div>
                    <!-- Content Content -->
                    <div class="flex justify-between  w-[85vw] gap-6 min-h-[500px]">

                        <div class="rounded-2xl w-[45%] bg-white flex justify-center min-h-[500px] p-6 shadow-xs">
                            <div class="w-full  h-[500px] overflow-y-scroll pr-4">
                                <p id="isLoadingGroups" class="h-full"></p>

                                <!-- Barra de Busqueda -->
                                <input type="text" id="search-bar" x-model="$store.services.searchQuery"
                                    x-on:input="$store.services.filterGroups()" placeholder="Filtra tus grupos o chats"
                                    class="bg-[#FAFAFA] rounded-full px-3 py-2 mb-4 outline-none w-full">

                                <table id="groupTable" class="w-full">
                                    <thead>
                                        <tr>
                                            <th class="hidden">Info Group</th>
                                            <th class="hidden">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody class="min-w-[50%] text-center"></tbody>
                                    <!-- Aquí se insertarán las filas dinámicamente -->
                                </table>
                            </div>
                        </div>
                        <div class="w-[55%] rounded-2xl bg-white px-6 py-8 min-h-[500px] shadow-xs">
                            <span x-bind:class="{ 'hidden': $store.services.groupsSelected.length === 0 }"
                                class="fixed z-10 px-4 py-2 text-white bg-violet-600 hover:bg-violet-800 left-1/2 bottom-8 transform -translate-x-1/2 rounded-full text-sm cursor-pointer"
                                x-text="$store.services.groupsSelected.length === 0 ? '' : `Destinatarios seleccionados: ${$store.services.groupsSelected.length}`">
                            </span>
                            <form x-on:submit.prevent="$store.services.modalSendMsj = true" class="relative h-full">

                                <div x-show="$store.services.isPicker" id="emoji-picker"
                                    class="absolute z-10 top-[5%] right-[110%]"></div>
                                <div class="h-full">
                                    <!-- Textarea for message -->
                                    <textarea id="input-message" x-model="$store.services.message"
                                        placeholder="Escribe un Mensaje"
                                        class="w-full outline-0 p-4 resize-none bg-[#FAFAFA] rounded-2xl" x-bind:class="{ 
                                    'h-[72%]': $store.services.files.length > 0,
                                    'mb-2': $store.services.files.length > 0,
                                    'h-[89%]': $store.services.files.length === 0,
                                    'mb-4': $store.services.files.length === 0,
                                }"></textarea>


                                    <!-- Miniatures Preview -->
                                    <div x-bind:class="{ 
                                'h-[17%]': $store.services.files.length > 0,
                                'h-0': $store.services.files.length === 0,

                            }">

                                        <div class="mt-2 flex gap-4 h-[100px]"
                                            x-show="$store.services.files.length > 0">
                                            <template x-for="(file, index) in $store.services.files" :key="index">
                                                <div class="w-16 relative group cursor-pointer">
                                                    <img :src="URL.createObjectURL(file)" alt=""
                                                        class="w-16 h-16 object-cover rounded-md ">
                                                    <button type="button" x-on:click="$store.services.removeFile(index)"
                                                        class="absolute top-0 left-0 w-16 h-16 bg-black/70 text-white p-1 rounded-md text-xs cursor-pointer opacity-0 group-hover:opacity-100 font-semibold ">X</button>
                                                </div>
                                            </template>
                                        </div>
                                    </div>




                                    <div class="flex justify-between">

                                        <div id="controllers-action" class="flex gap-2 pb-2 ">
                                            <label for="files"
                                                class="cursor-pointer bg-gray-200 w-10 h-10 rounded-full flex justify-center items-center hover:bg-gray-300">
                                                <i class="fa fa-picture-o text-gray-600" aria-hidden="true"></i>
                                            </label>
                                            <p x-on:click="$store.services.isPicker = !$store.services.isPicker"
                                                class="cursor-pointer bg-gray-200 hover:bg-gray-300 w-10 h-10 rounded-full flex justify-center items-center">
                                                <i class="fa fa-smile-o" aria-hidden="true"></i>
                                            </p>
                                            <input type="file" name="files" id="files" multiple accept=".jpg,.png"
                                                x-on:change="$store.services.handleFileUpload" class="hidden">

                                        </div>
                                        <div id="button-send-programing"
                                            class="h-10 w-[140px] bg-[#FAFAFA] flex overflow-hidden rounded-full text-white text-sm">
                                            <button type="submit"
                                                class="h-full w-[60%] bg-violet-600 hover:bg-violet-800 cursor-pointer font-semibold">Enviar</button>
                                            <div x-on:click="$store.services.isSendProgramated  = true"
                                                class="h-full w-[40%] bg-violet-700 flex justify-center items-center hover:bg-violet-800 cursor-pointer">

                                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            </div>

                                        </div>

                                    </div>



                                </div>



                            </form>

                        </div>
                    </div>
                </div>

            </div>


            <!-- Footer -->
            <footer>
                <div class="bg-white h-[200px] flex flex-col justify-center items-center">
                    <div class="flex justify-between  items-center w-[85vw]">
                        <div id="logotype" class="flex gap-1 items-center">

                            <div class="w-8 h-8 rounded-full flex justify-center items-center bg-violet-600">
                                <i class="fa fa-bolt text-white" aria-hidden="true"></i>
                            </div>
                            <h2 class="text-xl font-bold pt-1 ">Wgroups</h2>

                        </div>

                        <div
                            class="mr-6 w-12 h-12 rounded-full flex justify-center items-center bg-violet-600 text-3xl">
                            <i class="fa fa-bolt text-white" aria-hidden="true"></i>
                        </div>

                        <nav class="flex items-center gap-10 text-2xl">
                            <ul class="flex items-center gap-4">
                                <li class="cursor-pointer relative inline-block"
                                    @click="showTooltipBelt = !showTooltipBelt">
                                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                                    <div x-show="showTooltipBelt" x-transition
                                        class="absolute top-[110%] right-[-60px] bg-gray-800 text-white p-2 rounded shadow-lg text-sm">
                                        Próximamente
                                    </div>
                                </li>
                                <li x-on:click="isQrOpen = true" class="cursor-pointer ">
                                    <i class="fa fa-qrcode" aria-hidden="true"></i>
                                </li>
                                <li> <span x-on:click="isPlugModal = true;" class="text-center cursor-pointer">
                                        <i class="fa fa-plug" aria-hidden="true"></i>
                                    </span> </li>
                            </ul>



                        </nav>
                    </div>


                </div>
                <div class="w-full text-center pt-10 text-sm text-gray-400 font-medium py-4">
                    <span class="font-semibold">WGROUPS 2024</span>

                </div>
            </footer>

        </div>

    </body>


    </html>